<hr>

<div class="container-fluid" style="background-color: rgb(75, 82, 88);height: auto;">
	<div class="row">
		<div class=" col-md-12 col-xs-12 col-sm-12  mt-2 mt-sm-2 text-center">
			<i class="fa fa-phone" style="color: rgb(185, 134, 233)"></i>
			 <span style="color: rgb(185, 134, 233)"> Help
				& Contact </span>
			<br><i class="fa fa-mobile-phone"
				style="color: rgb(226, 223, 223);margin-top: 7px;font-size: 20px;">&nbsp;</i><span
				style="color: rgb(226, 223, 223)">+91xxxxxxxxxx</span>
			<br><i class="fa fa-envelope"
				style="color: rgb(226, 223, 223);margin-top: 7px;font-family: arial">&nbsp;nuss@gmail.com</i>

		</div>
		
	</div>
	<div class="row text-center">
		<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center ">
				<div class=" col-md-12 col-xs-12 col-sm-12  mt-2 mt-sm-2 text-center">
						<i class="fa fa-map-marker" style="color: rgb(226, 223, 223)">
						</i>
						<span style="color: rgb(185, 134, 233)">
							<a class="ank" href="https://www.google.com/maps/dir//Ichchhapurti+Durga+Mata+Mandir,+Patahana,+Koharauti,+Mircha,+Uttar+Pradesh+222001/@25.7784227,82.6783492,11413m/data=!3m1!1e3!4m9!4m8!1m0!1m5!1m1!1s0x3990371ed9aa8f57:0xc01b04db7d5b093!2m2!1d82.7359045!2d25.8078876!3e2">&nbsp;&nbsp; Location</a> 
						</span>
				</div>
			<p style="color: rgb(226, 223, 223)">Ichchhapurti Durga Mata Mandir<br>
			Patahana Jaunpur In Uttar Pradesh<br> Pin code 222001</p>
			<div>
				<a href="#" style="  border-radius: 70%; background:#3B5998; color: white; margin: 5px; padding: 2px;">
					<i class="fa fa-facebook mrg"></i>
				</a>
				
				<a href="#" style=" border-radius: 70%; background: #bb0000; color: white; margin: 5px; padding: 2px;">
					<i class="fa fa-youtube mrg"></i>
				</a>
			</div>
			<p class="h6" style="color:#b0ec4e">copy All right Reversed.
				<a class="text-green ml-2" href="#" target="_blank" style="color: rgb(231, 125, 54)">Avaneesh Prajapati</a>
			</p>
		</div>
	</div>
</div>