<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <div style="margin: 10px">
                <h2
                    style="margin: auto;color: rgb(15, 233, 186);font-size: 20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;padding: 10px;text-shadow: 4px 3px 2px gainsboro">
                    Welcome To NavYuvak Seva Samiti</h2>
                <h6 style="text-align: justify;margin-left: 8px;color: orange">Videos</h6>
                <iframe src="https://www.youtube.com/embed/s7aoEuEG5DQ?autoplay=1" frameborder="0" allowfullscreen
                    style="margin:6px"></iframe>
                <iframe src="https://www.youtube.com/embed/HFNFBqV32OA" frameborder="0" allowfullscreen
                    style="margin:6px"></iframe>
                <iframe src="https://www.youtube.com/embed/i59rNA6GiLI" frameborder="0" allowfullscreen
                    style="margin:6px"></iframe>
                <iframe src="https://www.youtube.com/embed/KiIS3hS7GnY" frameborder="0" allowfullscreen
                    style="margin:6px"></iframe>
                <iframe src="https://www.youtube.com/embed/jfyNdZkzCdI" frameborder="0" allowfullscreen
                    style="margin:6px"></iframe>
                <iframe src="https://www.youtube.com/embed/TMV0dz3MaGo" frameborder="0" allowfullscreen
                    style="margin:6px"></iframe>
            </div>
        </div>
        <div class="col-md-12">
            <div style="margin: 10px">
                <h2
                    style="margin: auto;color: rgb(15, 233, 186);font-size: 20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;padding: 10px;text-shadow: 4px 3px 2px gainsboro">
                    Images of NavYuvak Seva Samiti</h2>
                <h6 style="text-align: justify;margin-left: 8px;color: orange">Images</h6>
                <img src="../../assets/uploads/qq-X_fDigT664o13-jIQ3R9C.JPG" alt="Ichchhapurti Mata" width="300px"
                    height="150px" style="border: 1px solid gray;margin: 8px">
                <img src="../../assets/uploads/rkpABWPjCZ8vIKJPcojQQOPM.JPG" width="300px" height=" 150px"
                    style="border: 1px solid gray;margin: 8px">
                <img src="../../assets/uploads/0n98eGUvI7mH3F7kb3ecnYF5.JPG" width="300px" height=" 150px"
                    style="border: 1px solid gray;margin: 8px">
                <img src="../../assets/uploads/3TJee6OKl2b2vZsCYNPtk1-Z.JPG" width="300px" height=" 150px"
                    style="border: 1px solid gray;margin: 8px">
                <img src="../../assets/uploads/8n47hrygX62tqkv4nizJ75e6.JPG" width="300px" height=" 150px"
                    style="border: 1px solid gray;margin: 8px">
                <img src="../../assets/uploads/BMIeGyx5EEn5XMUgVUWOdFyx.JPG" width="300px" height=" 150px"
                    style="border: 1px solid gray;margin: 8px">
            </div>
            <p style="text-align: justify;cursor: pointer;color: rgb(2, 253, 36);font-weight: bold" (click)="moreImg()"
                class="mr">More Images</p>
        </div>
    </div>
</div>