<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
           <div style="margin: 10px">
            <h2 style="margin: auto;color: rgb(15, 233, 186);font-size: 20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;padding: 10px;text-shadow: 4px 3px 2px gainsboro">Welcome To NavYuvak Seva Samiti</h2>
                <iframe 
            src="https://www.youtube.com/embed/TMV0dz3MaGo?autoplay=1" frameborder="0" allowfullscreen></iframe> 
           </div>
      </div>
  </div>
</div>

