.set_image{
    border: 3px solid rgba(190, 190, 190, 0.972) ;
    background-color:  rgb(229, 226, 226);
    margin: 7px;
    width: 200px;
    height: 200px;
    border-radius: 3px;
    cursor: pointer;
}