<div id="demo" class="carousel slide setbanner" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/uploads/WeVbtbWJnmyJJUc9LGnhZoOu.JPG" alt="First slide" class="setbnr">
      </div>
      <div class="carousel-item">
        <img src="../../assets/uploads/R3pBSCUxT3B0HvZN3kApnKIj.JPG" alt="Second slide" class="setbnr">
      </div>
      <div class="carousel-item">
        <img src="../../assets/uploads/WeVbtbWJnmyJJUc9LGnhZoOu.JPG" alt="Third slide" class="setbnr">
      </div>
      <div class="carousel-item">
        <img src="../../assets/uploads/aJU5oVzxuAwv6gcFuzUhIgyb.JPG" alt="Third slide" class="setbnr">
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  