.l{
    background-image: linear-gradient(rgb(243, 119, 119),rgb(133, 101, 248))
}
.setbanner{

}
.setbnr{
    height: 400px;width: 100%;
}
@media(max-width:361px){
 .setbnr{ height: 175px;
    width: 96%;
    margin-left: 7px;
    margin-top: 2px;
}
}