.set_image{
    width: 517px;
    height: 408px;
    border: 1px solid gainsboro;
    margin-top: 16px;
}
.set_image:hover{
    opacity: 0.8;
    cursor: pointer;
}
.sp1{
color: rgb(175, 107, 240);
/* font-size: 18px; */
font-weight: bold
}
.sp2{
color: rgb(102, 248, 4)
}