<!DOCTYPE html>
<html>
        <head>
        </head>
        <body>
                <div class="container" *ngIf="memdet">
                        <div class="row class text-center">
                            <div class="col-md-3 div_member" *ngFor="let memb of members">
                                <div style="border: 1px solid gray;cursor: pointer;border-radius:5px; padding: 12px">
                                        <img src="../../assets/uploads/{{memb.profile}}" class="rounded-circle" width="150px" height="150px" style="margin-top: 6px"><br>
                                        Name:{{memb.first_name}} {{memb.last_name}}<br>
                                        Membership:{{memb.memebership}}<br>
                                        Contact No : {{memb.contact}}<br>        
                                        <a  *ngIf="clicks" (click)="More(memb)" class="ank" style="color: blue">More..</a>     
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <br>

                    <div class="container text-center" *ngIf="more">
                                 <div class="row text-center">          
                                         <div class="col-md-3"></div>
                                         <div class="col-md-6" style="margin: 10px;padding: 8px;box-shadow: 0px 2px 7px 0px grey" ><br>
                                                <img src="../../assets/uploads/{{memb_more.profile}}" class="img-thumbnail" width="220px" height="220px"> <br>   
                                               <br> {{memb_more.first_name}} {{memb_more.last_name}} is a
                                                {{memb_more.memebership}} of the nuss and his contact number is
                                                 {{memb_more.contact}}.<br>
                                                 {{memb_more.first_name}}'s  date of birth is {{memb_more.dob}} and {{memb_more.first_name}} says<br>
                                                <span style="color: rgb(4, 250, 4)" class="sp">" {{memb_more.desc}} "</span>
                                                 <br><a  *ngIf="skip" (click)="Skip()" class="ank" style="color: blue;cursor: pointer;">Skip Details</a>
                                </div>
                                        <div class="col-md-3"></div>
                                 </div>           
                    </div>
                    
        </body>
</html>